# docker-compose.yml
version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  web:
    build: .
    container_name: flask_app
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - YC_ACCESS_KEY=${YC_ACCESS_KEY}
      - YC_SECRET_KEY=${YC_SECRET_KEY}
      - YC_BUCKET_NAME=${YC_BUCKET_NAME}
      - YC_ENDPOINT_URL=${YC_ENDPOINT_URL}
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge